<?php
$config = [
  'db' => [
     'servername' =>'localhost',
     'username' => 'make91',
     'password' => 'x',
     'dbname' => 'make91',
  ],
  'api-keys' => [
    'tmdb' => 'x',
  ]
];
