.row {
    margin: 0;
}
form#add-form {
  width: 100%;
}
form#add-form > div {
  padding: 0 5px;
}
div#datepicker {
  width: 134px;
}
#datepicker .form-control[readonly] {
    background-color: initial;
}
div#add-button {
  width: 80px;
}
div#add-button > input {
  width: 100%;
}
div#input-title {
  flex: 1;
}
#film-table {
    text-align: left;
}
#film-table .table-date {
    width: 120px;
}
#film-table .table-title {
    width: 90%;
    word-break: break-all;
}
#film-table .table-date {
    width: 120px;
}
.loading-container {
	text-align: center;
	opacity: 0.7;
	position: relative;
	height: 0;
	overflow: visible;
}
.loading-circle {
	padding-top: 20px;
	width: 90px!important;
	height: 90px!important;
	display: inline-block;
}
