.row {
    margin: 0;
}
form#add-form {
    width: 100%;
}
form#add-form > div {
    padding: 0 5px;
}
div#datepicker {
    width: 134px;
}
#datepicker .form-control[readonly] {
    background-color: initial;
}
div#add-button {
    width: 80px;
}
div#add-button > input {
    width: 100%;
}
div#input-title {
    flex: 1;
}
#film-table {
    text-align: left;
}
#film-table .table-date {
    width: 120px;
}
#film-table .table-title {
    width: 90%;
    word-break: break-word;
}
#film-table .table-year {
    width: 100px;
}
#film-table td.table-delete {
    width: 120px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 200ms, opacity 100ms;
}
#film-table tr:hover td.table-delete {
    visibility: inherit;
    opacity: 1;
    transition: visibility 0s linear 200ms, opacity 200ms;
}
.loading-container {
    text-align: center;
    opacity: 0.7;
    position: relative;
    height: 0;
    overflow: visible;
    z-index: 2;
}
.loading-circle {
    padding-top: 20px;
    width: 90px!important;
    height: 90px!important;
    display: inline-block;
}
.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    background-color: #fdfdfd;
    padding-top: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: 4px 7px 12px 2px rgba(0,0,0,0.56);
}
.react-autosuggest__suggestions-container {
    position: absolute;
    z-index: 1;
}
.suggestion-item {
    display: inline-block;
    padding: 5px 10px;
    height: 100px;
    width: 500px;
}
.react-autosuggest__suggestion:not(:first-child) {
    border-top: 1px solid #ddd;
}
.suggestion-item img {
    width: auto;
    height: 100%;
    float: left;
    margin-right: 10px;
}
.suggestion-year {
    font-size: 90%;
    padding-left: 3px;
}
.suggestion-overview {
    font-size: 90%;
    margin-top: 5px;
    overflow: hidden;
    max-height:0;
    transition: max-height 0.3s 0.1s;
}
.react-autosuggest__suggestion:hover .suggestion-overview {
    max-height: 500px;
    transition: max-height 0.2s 0.4s;
}
@media only screen and (max-width: 800px) {
    .react-autosuggest__suggestions-container {
        left: 0px;
    }
    .suggestion-item {
        width: 100%;
    }
    .suggestion-overview {
        max-height: 500px;
        transition: none;
    }
}
@media only screen and (max-width: 550px) {
    #film-table .table-delete {
        display: none;
    }
}